fastapi>=0.111.0
uvicorn>=0.30.1
firebase-admin>=6.5.0
pydantic[email]>=2.7.4
python-dotenv>=1.0.1
yfinance>=0.2.40
pandas>=2.2.2
numpy>=1.26.4
scikit-learn>=1.5.0
tensorflow>=2.16.1
# tensorflow-directml-plugin>=0.1.0  
newsapi-python>=0.2.7
langchain-google-genai>=1.0.6
langchain-core>=0.2.10
langchain>=0.2.6
vaderSentiment>=3.3.2
statsmodels>=0.14.0
xgboost>=1.7.5
